<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/static/logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick-1.8.1/slick/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick-1.8.1/slick/slick-theme.css') }}"/>
    <title>Essence Privacy</title>
  </head>
  <br></br><br></br>

  <body style="text-align: center;">
    <h1 class="App-title">Essence</h1>
    <img src="/static/logo.png" width="100" height="100" alt="Logo">

    <h2 class="App-subtitle">Privacy Policy</h2>
    <br></br>
    <span style="margin-bottom: 10px;
    background: white;
    border: 1px solid rgba(74, 74, 74, 0.075);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    color: #204056;
    font-size: 18px;
    font-family: Roboto, Lucida Grande, Verdana, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
    width: 95%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto !important;">
    <ul >
      <li style="text-align: left;">We do not pass or sell any data to third parties.</li>
      <li style="text-align: left;">We only inspect non-private queries which have been flagged as good or bad.</li>
      <li style="text-align: left;">Only pages requested for Processing are sent to the server.</li>
      <li style="text-align: left;">The app does not access any information beyond the current page.</li>
      <li style="text-align: left;">We re-use cached queries only with public pages with no personal information, i.e. ones which were accessed directly by the server, not from the user-side.</li>
      <li style="text-align: left;">Passwords are not stored.</li>
      <li style="text-align: left;">The Notion integration only has access to write new database entries, not to read or update existing ones. It also does not access any user information.</li>
    </ul>
    </span>
    </body>
</html>
