<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/static/logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Essence Index</title>
  </head>
  <br></br><br></br>

  <body style="text-align: center;">
    <h1 class="App-title">Essence</h1>
    <img src="/static/logo.png" width="150" height="150" alt="Logo">
    <h2 class="App-subtitle">Set new password</h2>
    
    <form action="/requestaccess" method="post">
        <input type="password" id="password" name="password" style="width: 15em; height: 2em; border: none; font-size: 16px; padding: 7px; margin: 0; border-radius: 5px;" placeholder="Enter new password..."><br>
        <button class="ButtonGeneric-style" type="submit">Submit</button>
    </form>
    <script>
        $('form').submit(function(event) {
          var urlParams = new URLSearchParams(window.location.search);
          var username = urlParams.get("username");
          var token = urlParams.get("token");

          event.preventDefault();
          $.ajax({
            url: '/setnewpassword',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ username: username, token: token, password: $('#password').val() }),
            success: function(response) {
              console.log(response);
              alert('Output: ' + response['output']);
            }
          });
        });
      </script>
      <br />
      <h2 class="App-subtitle">Contact us at <a href="mailto:support@essence.fyi">support@essence.fyi</a></h2>
      <br />
      </body>
</html>
