<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9Y12ZYKLWR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9Y12ZYKLWR');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/static/logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick-1.8.1/slick/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick-1.8.1/slick/slick-theme.css') }}"/>
    <title>Essence Tweets</title>
  </head>
  <br></br><br></br>

  <body style="text-align: center;">
    <h1 class="App-title">Essence</h1>
    <img src="/static/logo.png" width="100" height="100" alt="Logo">

    <blockquote class="twitter-tweet tw-align-center" style="text-align: center; display:table;">
      <a href={{ tweetUrl }}></a> 
    </blockquote>    
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 

    <span style="margin-bottom: 10px;
    background: white;
    border: 1px solid rgba(74, 74, 74, 0.075);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    color: #204056;
    font-size: 18px;
    font-family: Roboto, Lucida Grande, Verdana, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
    width: 95%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto !important;">
    <ul >
      {% for attr in message %}
      <li style="text-align: left;">{{attr}}</li>
      {% endfor %}
    </ul>
    </span>

    <br></br>
    <h1 class="App-subtitle"><button class="chrome-ext" onclick="window.location.href='https://chrome.google.com/webstore/detail/essence-distill-and-colle/agokfbniiemgojbmdbhijmhfppgeaeal'">See the Chrome extension!</button></h1>
    <div class="wrapper">
      <div class="carousel">
        <div><img src="/static/image4.png"></div>
        <div><img src="/static/image2.png"></div>
        <div><img src="/static/image3.png"></div>
        <div><img src="/static/image5.png"></div>
        <div><img src="/static/image6.png"></div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.carousel').slick({
        slidesToShow: 1,
        dots:true,
        centerMode: true,
        });
      });
    </script>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/static/slick-1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.slider').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          adaptiveHeight: true,
          variableWidth: true,
          centerMode: true,
          centerPadding: '60px',
        });
      });
    </script>

    </body>
</html>
